body
{
    font-family: Raleway, sans-serif;
    width: 100%;
    margin: auto;    
}
*
{
    box-sizing: border-box;
}
h4
{
    font-weight: bold;
}
/* HEADER*/
.container-logo-inscription{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 16px;
    height: 90px;
}


.nav-element1 a{
    text-decoration: none;
    color:#0065FC ;
    font-size: 1.2em;
    padding: 30px;
    font-weight: bold;
}

.nav-element, .nav-element2{
    position: relative;
    bottom: 56px; 
    padding-left: 40px;
}

.nav-element a{
    text-decoration: none;
    color: black;
    font-size: 1.2em;
   /* padding-left: 85px;*/
    padding: 30px;

}
.nav-element a:hover, .nav-element1 a:hover, .nav-element2 a:hover{

    border-top: 2px solid #0065FC;
    padding-top: 30px;
    color: #0065FC;
}

.nav-element2 a{
    text-decoration: none;
    color: black;
    font-size: 1.2em;
    /*padding-left: 85px;*/
    padding: 30px;
   
}

.container-link-reverse{
    display: flex;
    align-items: center;
    justify-content:flex-end;
    padding-right: 200px;
    
}
nav{
    padding-top: 20px;
}

/* MAIN TITLE */

#main-title p
{
    margin-top: 0px;
    padding: 20px 2px ;
}
#main-title h2
{
    margin-bottom: 10px;
    margin-top: 0px;
}

/* SEARCH SECTION */

#search
{
    padding-left: 50px;
}
#search-bar
{
    display: flex;
    align-items: center;
}

.search-bar i
{
   border: 10px solid #F2F2F2;
   border-top-left-radius: 15px;
   border-bottom-left-radius: 15px;
   /*background: #F2F2F2; */
   
}
.search 
{
    display: none;
}
input
{
    border: 2px solid #F2F2F2;
    height: 2.7em;
        
}
.search-button
{
    cursor: pointer;
    border: 10px solid transparent;
    background: #0065FC;
    color: #ffffff;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    height: 2.7em;
}

/* FILTER SECTION */

#filter
{
    padding-left: 50px;
}
.filter
{
    display: flex;
    align-items: center;
    margin-top: 42px;
    padding: 12px;  
}
.price:hover, .family:hover, .romantic:hover, .animal:hover
{
    background: #0065FC;
}
.price, .family, .romantic, .animal
{
    display: flex;
    align-items: center;
    border: 2px solid #F2F2F2;
    border-radius: 50px;
    border-left: none;
    margin-right: 14px;
    height: 2.8em;
    cursor: pointer;
}
.filter-title
{
    font-weight: bold;
    margin-right: 15px;
}
.family i{
    width: 40px;
}
.price i, .family i, .romantic i, .animal i
{
    color: #0065FC;
    background: #DEEBFF;
    border: 13px solid transparent;
    border-radius: 100%;
}
.price h3, .family h3, .romantic h3, .animal h3
{
    padding-right: 20px;
    padding-left: 20px;
}
.icon-filter
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.info
{
    display: flex;
    align-items: center;
    padding: 28px 0 28px 0px;
}
.fa-info
{
    color: #0065FC;
}
.fa-circle
{
    color: #F2F2F2;
}

.info p
{
    padding-left: 10px;
}
/* ROOMS */

#rooms
{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 38px;
}
.rooms
{
    background: #F2F2F2;
    border-radius: 25px;
    width: 69%;
    height: auto;
}
.contain-rooms
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 5px;
    padding: 0 10px;
    width: 100%;
}

.content-rooms
{
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    padding-bottom: 23px;
    transition: transform 1s;
}
.content-rooms p, .content-rooms h4
{
    margin: 3px;
}

.content-rooms img
{
   border-top-left-radius: 25px;
   border-top-right-radius: 25px;
   object-fit: cover;
   width: 100%;
   height: 8em;
}
.content-rooms :hover
{
    object-fit: cover;
}
.rooms-title
{
    padding: 20px 0px 20px 29px;
    font-weight: bold;
    font-size: 1em;
}
.content-rooms a
{
    text-decoration: none;
    color: black;
}
.fa-star
{
    color: #0065FC;
    font-size: small;
    padding-left: 5px;
}
.fa-star.grey
{
    color: #F2F2F2;
    font-size: small;
}     
.content-rooms figure
{
    margin: 0;
    background: #ffffff;
    border: 2px solid transparent;
    border-radius: 25px;
    box-shadow: 4px 4px 6px #aaa;
    width: 16em;
    height: 14em;
}
.content-rooms figcaption p
{
    font-size: 0.8em;
}
.content-rooms figcaption
{
    margin-left: 5px;
}
.more a
{
    text-decoration: none;
    color: black;
    font-weight: bold;
}
.more
{
  padding: 30px 32px;
}

/* ASIDE */

.content-aside img
{
    width: 8em;
    height: 162px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    object-fit: cover;
    
}
.content-aside  
{
    
	transform: scale(1);
	
}

aside
{
    display: flex;
    flex-direction: column;
    background: #F2F2F2;
    border-radius: 25px;
    float: left;
    height: auto;
   
}
.aside-title
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding:20px 26px 2px 29px;
    font-size: 1em;
}
.aside p
{
     margin-top: 24px;
}
.content-aside figure
{
    display: flex;
    background: #ffffff;
    border: 4px solid transparent;
    border-radius: 25px;
    box-shadow: 4px 4px 6px #aaa;
    margin: 17px 20px;
}
#contain-aside
{
    display: flex;
    flex-direction: column;
}
#contain-aside a
{
    text-decoration: none;
    color: black;
}
.content-aside figcaption
{
    padding-left: 40px;
}

.content-aside figcaption p
{
    margin-top: 5px;
}
.content-aside span
{
    margin-top: 30px;
}
/* ACTIVITIES */

#activities {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding:0 38px;
    }
#main-visit
{
   
    display: flex;
    justify-content: center;
}
#main-visit img
{
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    object-fit: cover;
    width: 100%;
    margin: auto;
      opacity: 1;
	
	
}
.vieuxp img, .calanques img
{
    height: 446px;
}
.pomegues img
{
height: 250px;
}
.dame img
{
height: 185px;        
}
.frioul img
{
height: 190px;
}
.longchamp img
{
height: 185px;
}
.frioul img
{
    height: 120px;
    align-content: center;
}
#main-visit a 
{
    text-decoration: none;
    color: black;
    font-size: small;
}
.vieuxp figure, .calanques figure, .pomegues figure, .frioul figure, .dame figure, .longchamp figure
{
  box-shadow: 8px 8px 12px #aaa;
  border: 1px solid transparent;
  border-radius: 25px;
  box-sizing: border-box;
 }
.pomegues, .dame
{
    padding-bottom: 2px;
}
.vieuxp h3, .calanques h3, .pomegues h3, .frioul h3, .dame h3, .longchamp h3
{
    padding-left: 10px;
}
#main-visit img:hover
{
    opacity: .5;
}

/* FOOTER */

#footer
{
   margin-top: 40px;
   background: #F2F2F2;
   display: flex;
   width: 100%;
}
.footer
{
   
    display: flex;
    flex-direction: column;
    padding: 0 43px;
    width: 50%;
}
.footer a
{
    text-decoration: none;
    color: black;
}
.footer a:visited
{
    text-decoration: none;
    color: black;
}
.footer h4
{
    font-weight: bold;
}
/*                                                              MEDIA QUERIES                                                               */

@media screen and (max-width: 769px)
{
    body
    {
    width: 100%;
    padding-top: 15px;
    overflow-x: hidden;

    }
    

    .container-link-reverse{
        display: flex;
        align-items: center;
        justify-content:space-between;
        margin-top: 35px;
        width: 100%;
        padding: 2px 2px;

    }
    .container-logo-inscription
    {
        padding-left: 16px;
    }
    .container-logo-inscription img{
        padding: 4px;
        
    }
    nav{
        padding-left: inherit;
    }
    .nav-element1 a{
        text-decoration: none;
        color: #0065FC;
        font-size: 1.2em;
        padding-left: inherit;
        padding:inherit;
        
    }
    .nav-element a{
        text-decoration: none;
        color: black;
        font-size: 1.2em;
        padding-left: inherit;
        padding:inherit;
        
    }
    .nav-element2 a{
        text-decoration: none;
        color: black;
        font-size: 1.2em;
        padding-left: inherit;
        padding:inherit;
    }

    nav{
        margin: 0;
        border-bottom: 2px solid #f2f2f2;
        
    }

    .nav-element, .nav-element2{
        width: 50%;
        text-align: center;
        padding-bottom: 30px;
        position: inherit;
        bottom: inherit;
        margin-bottom: -3px;
        padding-left: inherit;
    }
    .nav-element:hover{
        border-bottom: 2px solid #0065FC; 
        padding-bottom: 30px;

    }

    .nav-element2:hover{
        border-bottom: 2px solid #0065FC; 
        padding-bottom: 30px;

    } 
    .nav-element a:hover, .nav-element1 a:hover, .nav-element2 a:hover{

        border-top: inherit;
        padding-top: inherit;
       
    }   
    
    #search
    {
        padding-left: 15px;
        margin: 0;
    }
    .search-button
    {
        display: none;
    }
    .search
    {
        background: #0065FC;
        border: 10px solid transparent;
        border-radius: 10px;
        display: flex;
    }
    .fa-search
    {
        color: #ffffff;
    }
    #main-title h2
    {
        margin-top: 25px;
    }
   .main-container
    {
       width: 100%;
    }
   
   #filter
   {
       padding-left: 15px;
       margin: 0;
   }
   .filter
   {
       display: flex;
       flex-wrap: wrap;
       justify-content: space-between;
       width: 100%;
   }
   .filter-title
   {
       width: 100%;
        margin: 0;
   }
   .price, .family, .romantic, .animal {
       margin-bottom: 10px;
   }
  .info 
  {
      padding: 10px 0;
  }
  .content-rooms figure
  {
      width: 100%;
      height: 220px;
  }
  .contain-rooms
  {
      padding: 0;
      margin: inherit;
  }
  .main-container
  {
      margin: 0;
  }
   #rooms
   {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0;
    width: 100%;
   }
   aside
   {
       order: -1;
       padding: 0;
       border-radius: 0;
       margin: 0;
       width: 100%;

    }
    #contain-aside
    {
        width: 100%;
    }
    .aside span
    {
        margin: 0;
    }
    
    .rooms
    {
       display: flex;
       flex-direction: column;
       background: none;
       width: 100%;
       padding: 10px;
    }
    #main-rooms
    {
       display: flex;
       background: none;
    }
    .rooms-title
    {
        padding: 19px 25px 16px 8px;
    }
    
    .rooms img
    {
        object-fit: cover;
        width: 100%;
        height: 66%;
    }
    .more
    {
        padding-left: 8px;
        margin: 0;
    }
    
    #activities {
        width: 100%;
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: inherit;
   }
   .activities
   {
       padding-left: 16px;
   }

   
    #main-visit
    {
       display: flex;
       flex-direction: column;
       width: 100%;
       padding: 0;
    }
    #main-visit figure
   {
       margin: 10px;
    } 
    .vieuxp, .pom-fri, .calanques, .dame, .pomegues
    {
        padding-bottom: 10px;
        width: 100%;
    }
    .vieuxp h3, .pom-fri h3, .calanques h3, .dame h3, .pomegues h3
    {
        padding-left: 10px;
    }
    #main-visit img
    {
        
        width: 100%;
        height: 200px;
        opacity: 1;
    }
    #footer
    {
       display: flex;
       flex-direction: column;
       padding-bottom: 10px;
       width: 100%;
    }
   .footer
   {
       padding-left: 20px;
       width: 100%;
       margin-bottom: 20px;
   }
   .footer a
   {
       padding: 5px;
   }
}
/*
@media screen and (min-width: 769px) and (max-width: 1299px) {
    body 
    {
        width: 100%;
    }
    #rooms
    {
       display: flex;
       flex-direction: column;
       justify-content: space-between;
       padding: 0 45px;
    }
    .header
    {
        width: 100%;
    }
    #filter
    {
    padding:5px 36px 18px 32px;

    }
    .price .family .romantic .animal
    {
        padding-right: 18px;
    }

    .filter {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
    }
    .rooms {
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    aside {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        flex-wrap: wrap;
        order: -1;
        margin-bottom: 20px;
    }
    #main-visit {
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        flex-wrap: wrap;
        padding: 0;
    }
    #main-visit img
    {
     border-top-left-radius: 25px;
     border-top-right-radius: 25px;
     object-fit: cover;
     width: 100%;
     height: 250px;
     margin: auto;
     opacity: 1;

    }
}
*/
@media screen and (min-width: 770px) and (max-width: 1129px)
{
    body {
        width: 100%;
    }
    .header {
        max-width: 100rem;
        margin:auto;
    }
    .filter
    {
        font-size: 12px;

    }
    .rooms 
    {
        margin-right: 24px;
        width: 87%;
    }
   
    #main-rooms {
        margin: 10px;
    }
    #main-visit {
        width: 100%;
    }
    #main-visit a   
    {
        width: 100%;
    }
    #main-visit figure {
         margin: 10px;
    }
    #main-visit img
    {
        width: 100%;
        
    }
    footer {
        max-width: 100rem;
        margin:auto;
    }
    .content-aside img
    {
    width: 40%;    
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    object-fit: cover;
    height: 220px;
    }
    /*
    aside
    {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    order: -1;
    margin-bottom: 20px;
    }
    */
    

}

@media screen and (min-width: 1130px)and  (max-width: 1459px)
 {
    body {
        width: 100%;
    }
    .header {
        max-width: 100rem;
        margin:auto;
    }
    .rooms 
    {
        margin-right: 24px;
        width: 87%;
    }
    .vieuxp img, .calanques img
    {
        height: 446px;
    }
    .pomegues img
    {
    height: 250px;
    }
    .dame img
    {
    height: 185px;        
    }
    .frioul img
    {
    height: 190px;
    }
    .longchamp img
    {
    height: 185px;
    }
    .frioul img
    {
        height: 120px;
        align-content: center;
    }
   
    #main-rooms
    {
        margin: 10px;
    }
    #main-visit 
    {
        width: 100%;
    }
    #main-visit img
    {
        width: 292px;
    }
    
    #main-visit figure {
    margin: 13px 10px    }

   .activities
   {
       padding: 14px;
   }
    footer {
        max-width: 100rem;
        margin:auto;
    }
    .content-aside img
    {
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    object-fit: cover;
    height: 10em;
    }
}

@media screen and (min-width: 1560px) 
{
    body {
        margin: auto;
        overflow-x: hidden;
    }
    .header {
        max-width: 100rem;
        margin:auto;
    }
    .main-container {
        max-width: 100rem;
        margin: auto;
    }
    footer {
        max-width: 100rem;
        margin:auto;
    }
    #main-visit img
    {
        width: 300px;
    }
}
