body
{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1rem;
    margin: 0;
    font-weight: 0.7px;
}
*
{
    box-sizing: border-box;
}
/* HEADER */

header
{
   width: 100%;
}
#navbar
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    display: flex;
    align-items: flex-end;
    margin: 50px;
}
h1{
    padding-left: 50px;
}
ul
{
    display: flex;
}
#navbar nav ul li
{
    list-style-type: none;
    padding: 20px;
}
li a
{
    text-decoration: none;
    color: black;
}
#menu
{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
li a:hover
{
    color: #0065FC;
}
li {
    border-top: 3px solid #fff;
}
li:hover
{
    border-top: 3px solid #0065FC;
}
li:focus
{
    border-top: 3px solid #0065FC;
}
.sign-in
{
    display: flex;
    align-items: center;
}
.sign-in a
{
    color: #0065FC;
    text-decoration: none;
    font-weight: bold;
    padding: 20px;
}
.sign-in a:hover
{
    color: #0065FC;
    border-top: 3px solid #0065FC;
}

.main-container
{
    max-width: auto;
}
/* MAIN TITLE */

#main-title p
{
    margin-top: 0px;
}
#main-title h2
{
    margin-bottom: 10px;
    margin-top: 0px;
}

/* SEARCH SECTION */

#search
{
    padding-left: 50px;
}
#search-bar
{
    display: flex;
    align-items: center;
}

.search-bar i
{
   border: 10px solid #F2F2F2;
   border-top-left-radius: 15px;
   border-bottom-left-radius: 15px;
   background: #F2F2F2; 
   
}
.search 
{
    display: none;
}
input
{
    border: 2px solid #F2F2F2;
    height: 2.7em;
        
}
.search-button
{
    cursor: pointer;
    border: 10px solid #0065FC;
    background: #0065FC;
    color: #ffffff;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    height: 2.7em;
}

/* FILTER SECTION */

#filter
{
    padding-left: 50px;
}
.filter
{
    display: flex;
    align-items: center;
    margin-top: 42px;
    padding: 10 12px;  
}
.price:hover, .family:hover, .romantic:hover, .animal:hover
{
    background: #0065FC;
}
.price, .family, .romantic, .animal
{
    display: flex;
    align-items: center;
    border: 2px solid #F2F2F2;
    border-radius: 50px;
    border-left: none;
    margin-right: 25px;
    height: 2.8em;
    cursor: pointer;
}
.filter-title
{
    font-weight: bold;
    margin-right: 15px;
}
.family i{
    width: 40px;
}
.price i, .family i, .romantic i, .animal i
{
    color: #0065FC;
    background: #DEEBFF;
    border: 13px solid #DEEBFF;
    border-radius: 100%;
}
.price h3, .family h3, .romantic h3, .animal h3
{
    padding-right: 20px;
    padding-left: 20px;
}
.icon-filter
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.info
{
    display: flex;
    align-items: center;
    padding: 28px 0 28px 0px;
}
.fa-info
{
    color: #0065FC;
}
.fa-circle
{
    color: #F2F2F2;
}

.info p
{
    padding-left: 10px;
}
/* ROOMS */

#rooms
{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 38px;
}
.rooms
{
    background: #F2F2F2;
    border-radius: 25px;
    width: 69%;
}
.contain-rooms
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 5px;
    padding: 0 10px;
}

.content-rooms
{
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    padding-bottom: 23px;
    transition: transform 1s;
}
.content-rooms p, .content-rooms h4
{
    margin: 3px;
}
h4{
    font-weight:3px;
}
.content-rooms img
{
   border-top-left-radius: 25px;
   border-top-right-radius: 25px;
   object-fit: cover;
   width: 100%;
   height: 8em;
}
.content-rooms :hover
{
    object-fit: cover;
}
.rooms-title
{
    padding: 20px 0px 20px 29px;
    font-weight: bold;
    font-size: 1em;
}
.content-rooms a
{
    text-decoration: none;
    color: black;
}
.fa-star
{
    color: #0065FC;
    font-size: small;
    padding-left: 5px;
}
.fa-star.grey
{
    color: #F2F2F2;
    font-size: small;
}     
.content-rooms figure
{
    margin: 0;
    background: #ffffff;
    border: 2px solid #ffffff;
    border-radius: 25px;
    box-shadow: 4px 4px 6px #aaa;
    width: 16em;
    height: 13em;
}
.content-rooms figcaption p
{
    font-size: 0.8em;
}
.content-rooms figcaption
{
    margin-left: 5px;
}
.more a
{
    text-decoration: none;
    color: black;
    font-weight: bold;
}
.more
{
  padding: 17px 32px;
}

/* ASIDE */

.content-aside img
{
    width: 60%;
    height: auto;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    object-fit: cover;
    
}
.content-aside  
{
    -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

aside
{
    display: flex;
    flex-direction: column;
    background: #F2F2F2;
    border-radius: 25px;
    float: left;
    width: 29%;
    height: 100%;
   
}
.aside-title
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding:20px 26px 2px 29px;
    font-size: 1em;
}
.aside p
{
     margin-top: 24px;
}
.content-aside figure
{
    display: flex;
    background: #ffffff;
    border: 4px solid #ffffff;
    border-radius: 25px;
    box-shadow: 4px 4px 6px #aaa;
    margin: 19px 20px;
}
#contain-aside
{
    display: flex;
    flex-direction: column;
}
#contain-aside a
{
    text-decoration: none;
    color: black;
}
.content-aside figcaption
{
    padding-left: 5px;
    font-size: 0.8em;
}
.content-aside figcaption h4
{
    
}
.content-aside figcaption p
{
    margin-top: 5px;
}
.content-aside span
{
    margin-top: 30px;
}
/* ACTIVITIES */

#activities {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
#main-visit
{
    display: -o-flexblox;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
}
#main-visit img
{
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    object-fit: cover;
    width: 300px;
    margin: auto;
      opacity: 1;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.vieuxp img, .calanques img
{
    height: 450px;
}
.pomegues img
{
height: 250px;
}
.dame img
{
height: 185px;        
}
.frioul img
{
height: 190px;
}
.longchamp img
{
height: 185px;
}
.frioul img
{
    height: 120px;
    align-content: center;
}
#main-visit a 
{
    text-decoration: none;
    color: black;
    font-size: small;
}
.vieuxp figure, .calanques figure, .pomegues figure, .frioul figure, .dame figure, .longchamp figure
{
  box-shadow: 8px 8px 12px #aaa;
  border: 1px solid transparent;
  border-radius: 25px;
  box-sizing: border-box;
 }
.pomegues, .dame
{
    padding-bottom: 2px;
}
.vieuxp h3, .calanques h3, .pomegues h3, .frioul h3, .dame h3, .longchamp h3
{
    padding-left: 10px;
}
#main-visit img:hover
{
    opacity: .5;
}
.activities
{
    padding-left: 40px;
}
/* FOOTER */

#footer
{
   margin-top: 40px;
   background: #F2F2F2;
   display: -o-flexblox;
   display: -ms-flexbox;
   display: flex;
   width: 100%;
 }
.footer
{
    display: -o-flexblox;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    padding: 30px;
    width: 50%;
}
.footer a
{
    text-decoration: none;
    color: black;
}
.footer a:visited
{
    text-decoration: none;
    color: black;
}
.footer h4
{
    font-weight: bold;
}
/*                                                              MEDIA QUERIES                                                               */

@media screen and (max-width: 768px)
{
    body 
    {
        width: 100%;
        padding-top: 15px;
        overflow-x: hidden;
    }
    header
    {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0;
        width: 100%;
    }  
    .logo {
    display: flex;
    align-items: flex-end;
} 
     h1
    {
        margin: 0;
        width: 50%;
        position: absolute;
        padding-left: 15px;
    }
    #menu, #navbar
    {
        width: 100%;
    }
    nav ul
    {
        padding: 0;
        border-bottom: 2px solid #F2F2F2;
        width: 100%;
       
     }
     nav
     {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
     }
    li
    {
        text-align: center;
        flex-basis: 50%;
    }
    li:hover
    {
        border-bottom: 3px solid #0065FC;
        border-top: none;
    }
    li:focus
    {
        border-top: none;
        border-bottom: 3px solid #0065FC;
    }
    #search
    {
        padding-left: 15px;
        margin: 0;
    }
    .search-button
    {
        display: none;
    }
    .search
    {
        background: #0065FC;
        border: 10px solid #0065FC;
        border-radius: 10px;
        display: flex;
    }
    .fa-search
    {
        color: #ffffff;
    }
    .sign-in
    {
       order: -2;
       display: flex;
       padding-top: 40px;
    }
   .main-container
    {
       width: 100%;
    }
   #menu
   {
       display: flex;
       justify-content: flex-end;
       flex-flow: row wrap;
   }
   #filter
   {
       padding-left: 15px;
       margin: 0;
   }
   .filter
   {
       display: flex;
       flex-wrap: wrap;
       justify-content: space-between;
   }
   .filter-title
   {
       width: 100%;
        margin: 0;
   }
   .price, .family, .romantic, .animal {
       margin-bottom: 10px;
   }
  .info {
      padding: 10px 0;
  }
   .rooms
   {
       display: flex;
       flex-direction: column;
       justify-content: space-between;
       padding: 0;
   }
   aside
   {
       order: -1;
       padding: 0;
       border-radius: 0;
       margin: 0;
       width: 100%;
    }
    #contain-aside
    {
        width: 100%;
    }
    .aside span
    {
        margin: 0;
    }
    .aside figure
    {
        width: auto;
    }
    .rooms
    {
       display: flex;
       flex-direction: column;
       background: none;
       height: auto;
       width: 100%;
    }
    #main-rooms
    {
       display: flex;
       background: none;
    }
    .rooms-title
    {
        margin-left: 15px;
    }
    .rooms
    {
        
        padding: 10px;
    }
    .rooms img
    {
        object-fit: cover;
        width: 100%;
    }
    .more
    {
        padding-left: 15px;
        margin: 0;
    }
    #activities
    {
       width: 100%;
       margin: 0;
    }
    #activities {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
   }
   .activities
   {
       padding-left: 15px;
   }
    #main-visit
    {
       display: flex;
       flex-direction: column;
       width: 100%;
    }
    #main-visit figure
   {
       margin: 10px;
    } 
    .vieuxp, .pom-fri, .calanques, .dame, .pomegues
    {
        padding-bottom: 10px;
        width: 100%;
    }
    .vieuxp h3, .pom-fri h3, .calanques h3, .dame h3, .pomegues h3
    {
        padding-left: 10px;
    }
    #main-visit img
    {
        object-fit: cover;
        width: 100%;
        height: 200px;
    }
    #footer
    {
       display: flex;
       flex-direction: column;
       padding-bottom: 10px;
       width: 100%;
    }
   .footer
   {
       padding-left: 20px;
   }
   .footer a
   {
       padding: 5px;
   }
}
@media screen and (min-width: 769px) and (max-width: 1299px) {
    body {
        width: 100%;
    }
    #rooms
    {
       display: flex;
       flex-direction: column;
       justify-content: space-between;
       padding: 0;
    }
    .filter {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
    }
    .rooms {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        flex-wrap: wrap;
    }
    aside {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        flex-wrap: wrap;
        order: -1;
        margin-bottom: 20px;
    }
    #main-visit {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
}
@media screen and (min-width: 1300px) and (max-width: 1599px) {
    body {
        width: 100%;
    }
    header {
        max-width: 100rem;
        margin:auto;
    }
    .rooms {
        margin-right: 15px;
    }
    .main-container {
        max-width: 100rem;
        margin: auto;
    }
    #main-rooms {
        margin: 10px;
    }
    #main-visit {
        width: 100%;
    }
    #main-visit figure {
         margin: 13px 10px;
    }
    footer {
        max-width: 100rem;
        margin:auto;
    }
}
@media screen and (min-width: 1600px) {
    body {
        body: 100%;
        margin: auto;
        overflow-x: hidden;
    }
    header {
        max-width: 100rem;
        margin:auto;
    }
    .main-container {
        max-width: 100rem;
        margin: auto;
    }
    footer {
        max-width: 100rem;
        margin:auto;
    }
}